/* body {
  overflow-x: hidden;
} */

/* h1 {
  display: block;
  font-size: 17vw;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f40046;
  position: fixed;
  top: -15vw;
  left: 50%;
  transform: translateX(-50%);
  line-height: 13vw;
  letter-spacing: -0.5rem;
} */

.image-container {
  position: relative;
  margin-bottom: 50px;
  z-index: -1;
}

.overlay {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
}

img {
  max-width: 100%;
  transform: translateZ(0);
  height: 100px;
}

.pagebody {
  left: 100px;
  top: 100px;
  width: 300px;
  height: 300px;
  border: 1px solid green;
}

.container2 {
  overflow: hidden;
  height: 300px;
}

.container2 {
  width: 100%;
  border: 1px solid red;
}

.banner {
  border: 1px solid black;
  width: 100%;
  height: 30px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}

.magic {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-scroll {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.container-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(25, 255, 255, 0.5);
  border-radius: 30px;
}

.item-scroll {
  --heightA: inherit;
  --totalHeight: -webkit-fill-available;
  --height1: calc(((var(--heightA) * (-1)) / (var(--totalHeight))) * 100);
  width: inherit;
  height: var(--height1);
  background: white;
  transform-origin: 50% 100%;
}

.container-testing {
  width: inherit;
  height: inherit;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}

.item-testing {
  background: linear-gradient(#40f, #05f);
  border-radius: 5px;
}
