.resume {
    background-color: rgb(128, 0, 128);
    padding: 0;
}

.resumeGrid {
    align-items: center;
    text-align: -webkit-center;
}

.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: solid white;
    text-align: -webkit-center;
}

.p-tabview .p-tabview-panels {
    padding-right: 10rem;
    padding-left: 10rem;
    background: rgba(128, 0, 128, 0.075);
}

.tabview .tabview-custom i,
.tabview .tabview-custom span {
    vertical-align: middle;
}

.tabview .tabview-custom span {
    margin: 0 0.5rem;
}

.tabview .p-button {
    margin-right: 0.25rem;
}

.tabview .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.p-card-content ul {
    text-align: left;
}
