.App {
  text-align: center;
  background-image: url("logo.svg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color) !important;
}
.custom-scrolltop:hover {
  background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: white;
}

.p-toolbar {
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding: 0.5rem;
}

.body {
  text-align: -webkit-center;
  margin: auto;
}

.p-divider.p-divider-vertical {
  margin: 0 1rem;
  padding: 1rem 0;
  width: 1px;
  background-color: #9c27b0;
}

.react-reveal {
  width: -webkit-fill-available;
}

.cont {
  display: "inline";
}

#test {
  width: 25rem;
  height: 20rem;
}

#location {
  display: -webkit-inline-box;
}

p-card {
  width: -webkit-fill-available;
}

.p-component,
.p-component * {
  align-self: center;
}

.about-main {
  height: 40vmin;
  margin: auto;
  font-size: large;
}

.p-card .p-card-body {
  background-color: lawngreen;
}
